<script src="~/Scripts/AuctionScripts/dmlOperations.js"></script>
@model PetapocoDMLOperations.Models.AuctionsViewModel
@{
    ViewBag.Title = "Index";
}



	<div class="row">

		<div class="col-lg-12 " id="listingArea">

			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Title</th>
						<th scope="col">Description</th>
						<th scope="col">Price</th>
						<th scope="col">StartingDate</th>
						<th scope="col">EndingDate</th>
						<th scope="col">Actions</th>

					</tr>
				</thead>
				<tbody>
					@foreach(var auction in Model.Auctions)
					{
                     @:
					 <tr>
						<td>
							@Html.DisplayFor(modelItem => auction.Title)
						</td>
						<td>
							@Html.DisplayFor(modelItem => auction.Description)
						</td>
						<td>
							@Html.DisplayFor(modelItem => auction.ActualAmount)
						</td>
						<td>
							@Html.DisplayFor(modelItem => auction.StartingDate)
						</td>
						<td>
							@Html.DisplayFor(modelItem => auction.EndingDate)
						</td>
						<td>
							<!-- Button trigger modal -->
							<Button type="button" data-id="@auction.AuctionID" class="btn btn bg-primary editButton" data-toggle="modal" data-target="#formModal">Edit</Button>
							<Button type="button" data-id="@auction.AuctionID" class="btn btn-danger deleteButton" data-toggle="modal" data-target="#formModal">Delete</Button>
						</td>
					 </tr>
					}
					</tbody>
			</table>

			<!-- Button trigger modal -->
			<button type="button" id="newbutton" class="btn btn-secondary" data-toggle="modal" data-target="#formModal">Add New Auction</button>

			<!-- Create and Edit Modal -->
			<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content" id="contentArea">

					</div>
				</div>
			</div>

			<!-- Delete Modal -->
			<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						
					</div>
				</div>
			</div>
			<script>

					$("#cancelButton").click(function () {

						window.location.reload();
					});


					$("#newbutton").click(function () {

						var url ="@Url.Action("Create","Auctions")";
						Create(url);

					});

					$(".editButton").click(function () {

						$.ajax({
							url: "/Auctions/Edit/",
							type: "get",
							data: {
								ID: $(this).attr("data-id")
							}

						}).done(function (response) {

							$("#contentArea").html(response);
						})

					});

					$(".deleteButton").click(function () {

						$.ajax({
							url: "/Auctions/Delete/",
							type: "get",
							data: {
								ID: $(this).attr("data-id")
							}

						}).done(function (response) {

							$("#contentArea").html(response);
						})
					
					});
			</script>
		</div>
	</div>
	
